:root {
  --main-text-color-blue: #2196f3;
  --main-text-color: #000000;
  --main-text-color-gray: #757575;
  --main-text-color-black: #212121;
  --main-text-color-white: #ffffff;
  --main-text-light-color: rgba(255, 255, 255, 0.6);
  --main-background-color-gray: #2f303a;
  --main-background-color-white: #ffffff;
  --main-background-color-light-gray: #e5e5e5;
  --main-background-color-ghost-white: #f5f4fa;
  --main-background-color-blue: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color-gray);
  background: var(--main-background-color-white);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Header */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color-blue);
  font-family: "Raleway", sans-serif;
}

.header-logo .logo-colored {
  color: var(--main-text-color);
}

.link-studio:hover,.link-studio:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color-blue);
}

.link-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color-black);
}
.link-studio-current {
  color: var(--main-text-color-blue);
  }


.link-portfolio:hover,.link:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color-blue);
}

.link-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color-black);
}



.link-contacts:hover,.link:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color-blue);
}

.link-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color-black);
}




.header-mail:hover,.header-mail:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color-blue);
}
.header-mail-current{
  color: var(--main-text-color-blue);
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color-gray);
}

.header-contact:hover,.header-contact:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color-blue);
}
.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color-gray);
}

/* Блок уникального контента */
.main-section {
  background: var(--main-background-color-gray);
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-text-color-white);
}

.main-button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-text-color-white);
  background: var(--main-background-color-blue);
  border: none;
}

.main-button:hover,.main-button:focus {
  cursor: pointer;
  color: var(--main-text-color-white);
  background: var(--main-background-color-blue);
}

/* Section Features */
.visually-hidden{
  position:absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect (0 0 0 0);
  clip-path: inset (100%);
  margin: -1px;
}
.features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-text-color-black);
}

.features p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--main-text-color-gray);
}

/* Section Our deals */
.title-deals {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--main-text-color-black);
}

/* Section Our team */


.team-title>h2 { 
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  color: var(--main-text-color-black);
}
.team-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  letter-spacing: 0.03em;
  background: var(--main-background-color-white);
  color: var(--main-text-color-black);
}

.team-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: var(--main-text-color-gray);
}

/* Footer */
.footer {
  background: var(--main-background-color-gray);
}

.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color-blue);
  font-family: "Raleway", sans-serif;
}

.footer-colored {
  color: var(--main-text-color-white);
}

.footer-list a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color-white);
}
.footer-adress:hover,.footer-adress:focus {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color-blue);
}

.footer-mail {
  color: var(--main-text-light-color);
}
.footer-mail:hover,.footer-mail:focus {
  color: var(--main-text-color-blue);
}
.footer-contact {
  color: var(--main-text-light-color);
}
.footer-contact:hover,.footer-contact:focus {
  color: var(--main-text-color-blue);
}
