:root {
  --main-text-color-blue: #2196f3;
  --main-text-color: #000000;
  --main-text-color-gray: #757575;
  --main-text-color-black: #212121;
  --main-text-color-white: #ffffff;
  --main-text-light-color: rgba(255, 255, 255, 0.6);
  --main-background-color: #2f303a;
  --main-background-color-gray: #f5f4fa;
  --main-background-color-blue: #2196f3;
  --main-background-color-light-gray: #e5e5e5;
  --main-background-color-white: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color-black);
  background-color: var(--main-background-color-white);
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* Header */
a {
  text-decoration: none;
}

li {
  list-style: none;
}
.header-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color-blue);
  font-family: "Raleway", sans-serif;
}

.header-logo .logo-colored {
  color: var(--main-text-color);
}

.link-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color-black);
}

.link-studio:hover,.link-studio:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color-blue);
}

.link-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color-black);
}

.link-portfolio:hover,.link-portfolio:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color-blue);
}

.link-portfolio-current{
  color: var(--main-text-color-blue);
}

.link-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color-black);
}

.link-contacts:hover,.link-contacts:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color-blue);
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color-gray);
}




.header-mail:hover,.header-mail:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color-blue);
}

.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color-gray);
}

.header-contact:hover,.header-contact:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--main-text-color-blue);
}

/* Section Portfolio */


.button-all {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color-black);
  border: none;
}

.button-all:hover, .button-all:focus {
  cursor: pointer;
  background-color: var(--main-background-color-blue);
  color: var(--main-text-color-white);
}

.visually-hidden{
  position:absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect (0 0 0 0);
  clip-path: inset (50%);
  margin: -1px;
}

.portfolio h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  
  
}
.portfolio p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color-gray);
  
}
/* Footer */

.footer {
  background: var(--main-background-color);
}

.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color-blue);
  font-family: "Raleway", sans-serif;
}

.footer-colored {
  color: var(--main-text-color-white);
}

.footer-list a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color-white);
}
.footer-adress:hover,.footer-adress:focus {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color-blue);
}

.footer-mail {
  color: var(--main-text-light-color);
}
.footer-mail:hover,.footer-mail:focus {
  color: var(--main-text-color-blue);
}
.footer-contact {
  color: var(--main-text-light-color);
}
.footer-contact:hover,.footer-contact:focus {
  color: var(--main-text-color-blue);
}
