body {
  font-family: "Roboto", sans-serif;
  --main-text-color-blue: #2196f3;
  --main-text-color: #000000;
  --main-text-color-grey: #757575;
  --main-text-color-black: #212121;
  --main-text-color-white: #ffffff;
  --main-background-color: #2f303a;
  --main-background-color-grey: #f5f4fa;
  --main-background-color-blue: #2196f3;
}

/* Header */
a {
  text-decoration: none;
}

li {
  list-style: none;
}
.header-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--main-text-color-blue);
  font-family: "Raleway", sans-serif;
}

.header-logo .logo-colored {
  color: var(--main-text-color);
}

.link-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-text-color-black);
}
.link-portfolio:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--main-text-color-blue);
}

.link-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--main-text-color-black);
}

.header-mail:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--main-text-color-blue);
}

.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: var(--main-text-color-grey);
}

/*Блок уникального контента*/
.main-list li {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: var(--main-text-color-black);
}

.main-button {
  width: 73px;
  height: 38px;
  left: 495px;
  top: 174px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color-white);
  background: var(--main-background-color-blue);
  border: none;
}

.main-button:hover:focus {
  cursor: pointer;
}

.link-web {
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  background-color: var(--main-background-color-grey);
}
.link-application {
  width: 145px;
  height: 38px;
  left: 712px;
  top: 174px;
  background-color: var(--main-background-color-grey);
}
.link-design {
  width: 103px;
  height: 38px;
  left: 865px;
  top: 174px;
  background-color: var(--main-background-color-grey);
}

.link-marketing {
  width: 130px;
  height: 38px;
  left: 976px;
  top: 174px;
  background-color: var(--main-background-color-grey);
}

.portfolio h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var (--main-text-color-black);
}
.portfolio p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--main-text-color-grey);
}
/* Footer */

.footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background-color: var(--main-background-color);
}

.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--main-text-color-blue);
  font-family: "Raleway", sans-serif;
}
.footer-colored {
  color: var(--main-text-color-white);
}

.footer-adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: var(--main-text-color-white);
}
.footer-list a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.footer-adress {
  color: var(--main-text-color-white);
}
.footer-mail {
  color: rgba(255, 255, 255, 0.6);
}
.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}
